@media screen and (max-width: 534px){

.imgheader{
    width: 100%;
}

.menu li {
    width: 80%;
    background: #1c1c1c;
    color: white;
    padding:10px;
    border: 1px solid white;
    border-radius: 5px;
}

.menu li a {
    color: white;
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: center;
}

.menuHeader{
display: block;
justify-content: center;
}

.titreEquipements{
    text-align: center;
}

.imgEquipements{
    width: 80%;
}


}