*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    
}
.body{
    background-color: #FFF6F3;
}
main{
  margin-left: 10%;
  margin-right: 10%;
}
h1, h2, h3, h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
p{
  font-family: 'Open Sans', sans-serif;

}
.background{
    background-size: cover;
    background-image: url(../../image/standup-paddle.jpeg);
    height: 400px;
    display: flex;
    justify-content: center;
}
.assurance{
    display: flex;
    max-width: 90%;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    background-color:#D97247;
    margin-top: -100px;
    margin-bottom: 50px;
}

.centre{
 display: flex;
 justify-content: center;
}
.assurance h3{
    font-weight: 600;
    font-size: 15px;
}
.chevron_circle2{
    color: white;
}
.assurance div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
    border: solid 2px #FFF6F3;
    border-bottom: none;
    border-top: none;
    border-left: none;
}
.equipement{
    border: none !important;
}
.assurance img{
    width: 4rem;
}

.contenuHP{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 150px;
}
h1{
    font-size: 22px;
    color: #191818;
}
.reservez{
    border: none;
    background-color:#D97247;
    font-family: 'Open Sans', sans-serif;
    color: #FFF6F3;
    padding: 10px;
    border-radius: 7px;
    font-size: 15px;
    margin-top: 15px;
}
.ligne{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.ligne img{
  width: 45%;
}
.ligne h2{
    font-weight: 500;
    margin-left: 20px;
    font-size: 20px;

}
.comprendre{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
}
.lieu img{
    width: 5rem;
}
.lieu{
    display: flex;
    justify-content: center;
    margin-top: 120px;
}
.lieu1, .lieu2{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #D97247;
    color: white;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 3px 3px 20px #7a7271;
}
.lieu2{
  width: 150%;
}

.contenu_page{
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.vignette1 img, .vignette2 img {
    width: 350px;
}
.contenu_page h3 {
    color:#D97247 ;
}
.contenu_page p {
    margin-bottom: 20px;
}
.chevron_circle{
    color:#D97247;
    font-size: 20px;
}
/* .vignette2{
    margin-top: 20px;
}
.vignette1, .vignette2{
    background-color: #ffffff;
    border-radius: 7px;
    border: solid 2px rgba(0, 0, 0, 0.644);
} */
.lafin{
  background-color:#333;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family:monospace;
  font-weight:bold;
}
ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


}
.carte {
  padding: 0px 10px 0 10px;

}

    /* ******************** NAV BAR ******************** */
.topnav {
    background-color: #333;
    display: flex;
    align-items: center;
    width: 100%;
  }
  .topnav_link {
    color: white;
    padding: 12px;
    text-decoration: none;
  }
  .topnav_link:hover {
    color: #0078b4;
  }
  
  /* hide responsive menu */
  #topnav_hamburger_icon,
  #topnav_responsive_menu {
    display: none;
  }
  
  @media only screen and (max-width: 768px) {
    /* hide classic menu */
    #topnav_menu {
      display: none;
    }
  
    /* position home link at left and hamburger at right */
    #home_link {
      flex-grow: 1;
    }
  
    /* disable horizontal scrolling  */
    #root {
      position: relative;
      overflow-x: hidden;
    }
  
    /* show responsive menu and position at the right of the screen */
    #topnav_responsive_menu {
      display: block;
      position: absolute;
      margin: 0;
      right: 0;
      top: 0;
      width: 100vw;
      height: 100vh;
  
      z-index: 99;
  
      transform-origin: 0% 0%;
      transform: translate(200%, 0);
  
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    }
  
    #topnav_responsive_menu ul {
      display: flex;
      flex-direction: column;
  
      position: absolute;
      margin: 0;
      right: 0;
      top: 0;
  
      min-width: 50vw;
      height: 100vh;
      padding: 56px 0 0;
  
      text-align: center;
  
      background: #ededed;
      list-style-type: none;
      -webkit-font-smoothing: antialiased;
    }
  
    #topnav_responsive_menu li {
      padding: 12px 24px;
    }
  
    #topnav_responsive_menu a {
      white-space: nowrap;
      color: #333;
      text-decoration: none;
    }
  
    /* And let's slide it in from the right */
    #topnav_responsive_menu.open {
      transform: none;
      position: fixed;
    }
  
    /* ******************** HAMBURGER ICON ******************** */
    /* define size and position of the hamburger link */
    #topnav_hamburger_icon {
      display: block;
      position: relative;
      margin: 16px;
      width: 33px;
      height: 28px;
  
      z-index: 100;
  
      -webkit-user-select: none;
      user-select: none;
      cursor: pointer;
    }
  
    /* define the style (size, color, position, animation, ...) of the 3 spans */
    #topnav_hamburger_icon span {
      display: block;
      position: absolute;
      height: 4px;
      width: 100%;
      margin-bottom: 5px;
  
      background: #ededed;
      border-radius: 3px;
  
      z-index: 100;
  
      opacity: 1;
      left: 0;
  
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: 0.25s ease-in-out;
      -moz-transition: 0.25s ease-in-out;
      -o-transition: 0.25s ease-in-out;
      transition: 0.25s ease-in-out;
    }
  
    /* set the 3 spans position to look like a hamburger */
    #topnav_hamburger_icon span:nth-child(1) {
      top: 0px;
      -webkit-transform-origin: left top;
      -moz-transform-origin: left top;
      -o-transform-origin: left top;
      transform-origin: left top;
    }
    #topnav_hamburger_icon span:nth-child(2) {
      top: 12px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }
    #topnav_hamburger_icon span:nth-child(3) {
      top: 24px;
      -webkit-transform-origin: left bottom;
      -moz-transform-origin: left bottom;
      -o-transform-origin: left bottom;
      transform-origin: left bottom;
    }
  
    /* change color when opening the menu */
    #topnav_hamburger_icon.open span {
      background: #333;
    }
  
    /* the first span rotates 45° \ */
    #topnav_hamburger_icon.open span:nth-child(1) {
      width: 110%;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  
    /* the second span disappears */
    #topnav_hamburger_icon.open span:nth-child(2) {
      width: 0%;
      opacity: 0;
    }
  
    /* the last span rotates -45° / */
    #topnav_hamburger_icon.open span:nth-child(3) {
      width: 110%;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }

    
  }

  .button{
    margin-top: 20px;
    width: 80%;
  }

  .mon_background{
    background-color:#D97247;
  }
  .contenu_background{
    padding-top: 150px;
    padding-bottom: 150px;
    padding-left: 100px;
  }
  body{
    background-color: #f3eae3;
  }
  .form_resa{
    background-color: white;
    padding: 70px;
    box-shadow: 10px 5px 20px rgba(59, 58, 58, 0.589);
    margin-top: -350px;
    position: relative;
  }
  .rounded-3{
    border-radius: 15px !important;
  }
  .h3_resa{
    width: 50%;
    line-height : 170%;
  }

   /* page equipement  */

   .imgheader{
    width: 100%;
}

.menu li {
    width: 80%;
    background: #1c1c1c;
    color: white;
    padding:10px;
    border: 1px solid white;
    border-radius: 5px;
}

.menu li a {
    color: white;
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: center;
}

.menuHeader{
display: block;
justify-content: center;
}

.titreEquipements{
    text-align: center;
    margin-top: 25px;
}
.miniature img {
  width: 50%;
}
.miniature{
  display: flex;
  flex-direction: row;
  margin-top: 100px;
}
.minia_content{
  background-color: white;
  margin-bottom: 25px;
  text-align: center;
  height: 100%;
  width: 500px;
  padding: 25px;
  margin-top: -60px;
  box-shadow: 0px 5px 10px rgba(59, 58, 58, 0.418);
}
hr{
	width: 30%;
	margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #D97247;
  background-color: #D97247;
  border: 2px solid #D97247;
}
.row-reverse{
  flex-direction: row-reverse;
}
.minia img{
  box-shadow: 0px 15px 30px rgba(59, 58, 58, 0.418);

}
.reverse{
  margin-right: 45px ;
}

  /* responsive tel */

  @media screen and (max-width: 640px){
   
    .button{
      margin-top: 20px;
      width: 70%;
    }
    .contenu_background{
      padding-top: 80px;
    }
    .h3_resa{
      width: 80%;
      font-size: 20px;
    }
    .form_resa{
      margin-top: -100px;
    }
    .lieu{
      flex-direction: column;
    }
    h2{
      font-size: 20px;
    }
    .container{
      padding-bottom: 0px !important;
      padding-left: 20px;
    }
    .center{
      margin-bottom: 30px;
    }
    .text_haut{
      font-size: 15px !important;
      margin-left: 0px !important ;
      margin-right: 0px !important;

    }
    .tarif{
      flex-direction: column;
    }
    .tarif_1{
      margin-bottom: 30px;
    }
    .tarif_2{
      margin-bottom: 30px;
    }

    .assurance{ 
      max-width: 100%;
    }
    .miniature{
      flex-direction: column;
    }
    .miniature img{
      width: 100% ;
    }
    .minia_content{
      margin: 0px;
      width: 350px;
      height: 350px;
    }
    .contenu_page{
      flex-direction: column;
  }
    /* body{
      overflow: hidden;
    } */
    .comprendre{
      flex-direction: column;
    }
    .lieu2{
      width: auto;
      margin: 0px !important;
    }
    .lieu1{
      margin: 0px !important;
      margin-bottom: 25px !important;
    }
  }
/* fin resposive tel */


    .logo_menu_responsive{
      width: 40%;
    }
    .logo_menu{
      width: 150px;
    }
/* .carousel-item{
    filter: brightness(60%);
    } */
.carousel-item{
  height: 32rem;
  background-color: black;
  position: relative;
}
.container{
  position: absolute;
  color: white;
  bottom: 10%;
  left: 0;
  right: 0;
  top: 50;
  padding-bottom: 50px;
}
.container h1{
  color: white;
}
.overlay-image{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-position: center;
  background-size: cover;
  opacity: 0.6;
}
.btn-primary{
  background-color: #D97247;
  border: #D97247;
}
.btn-primary:hover{
  background-color:#c05d33 ;
}
.section{
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid grey;
}
#sec1{
  margin-top: 25px;
  margin-bottom: 25px;
}

.section img{
  width: 50%;
  /* border-radius: 10px; */
  box-shadow: 10px 5px 20px rgba(59, 58, 58, 0.589);
}
.contenu_section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  padding-left: 25px;
  padding-right: 25px;
}


.center{
  display: flex;
  justify-content: flex-start;

}
.center2{
  display: flex;
  justify-content: flex-end;
}
.card{
  box-shadow: 3px 3px 20px #7a7271;
}
.localisation{
  color:#c05d33;
}
.card-title{
  margin-bottom: 25px;
}
.text_haut{
  font-size: 20px;
  text-align: center;
  margin-bottom: 80px !important;
  font-weight: bold;
}

.tarif{
  display: flex;
  justify-content: space-around;
}

.tarif_1{
  background-image: url(../../image/image_tarif_1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  color: white;
  width: 330px;
  height: 495px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.tarif_2{
  background-image: url(../../image/image_tarif_2.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  color: white;
  width: 330px;
  height: 495px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.tarif_3{
  background-image: url(../../image/image_tarif_3.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  color: white;
  width: 330px;
  height: 495px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding-top: 35px; */
  justify-content: center;
  border-radius: 10px;

}       
span{
  color:#FBE035;
  font-size: 35px;
  font-weight: bold;
}

.h1_hp{
  text-align: center;
  font-size: 16px;
}
